@font-face{
    font-family:"UniversLTStd";
    src:url("../fonts/UniversLTStd.eot?#iefix");
    src:url("../fonts/UniversLTStd.eot?#iefix") format("eot"),
        url("../fonts/UniversLTStd.woff") format("woff"),
        url("../fonts/UniversLTStd.ttf") format("truetype"),
        url("../fonts/UniversLTStd.svg#4f10a86e-7222-4029-8fba-a82bd25d94d3") format("svg");
}
@font-face{
    font-family:"UniversLTStd-BoldCn";
    src:url("../fonts/UniversLTStd-BoldCn.eot?#iefix");
    src:url("../fonts/UniversLTStd-BoldCn.eot?#iefix") format("eot"),
        url("../fonts/UniversLTStd-BoldCn.woff") format("woff"),
        url("../fonts/UniversLTStd-BoldCn.ttf") format("truetype"),
        url("../fonts/UniversLTStd-BoldCn.svg#a052218a-5e74-4425-982f-1213b7af380a") format("svg");
}
@font-face{
    font-family:"UniversLTStd-UltraCn";
    src:url("../fonts/UniversLTStd-UltraCn.eot?#iefix");
    src:url("../fonts/UniversLTStd-UltraCn.eot?#iefix") format("eot"),
        url("../fonts/UniversLTStd-UltraCn.woff") format("woff"),
        url("../fonts/UniversLTStd-UltraCn.ttf") format("truetype"),
        url("../fonts/UniversLTStd-UltraCn.svg#aa103842-d7ee-4c14-9655-575d9560f3a2") format("svg");
}