body {
	font-family: 'UniversLTStd', sans-serif;
	color: @lugato-grau;
	font-weight: 300;
	font-size:18px;
	position: relative;
}

body > .container > .container {
	width:100%;
}

.h1, h1,
.h2, h2,
.h3, h3 {
	font-family: 'UniversLTStd-UltraCn', sans-serif;
}
.h4, h4,
.h5, h5,
.h6, h6 {
	font-family: 'UniversLTStd-BoldCn', sans-serif;
}

.h1, h1 {
    font-size: 64px;
    text-transform: uppercase;
    color:@lugato-rot;
}

.h2, h2 {
    font-size: 34px;
}

.h3, h3 {
	font-size: 28px;
}

h1 + h2 {
	margin-top: 0;
}

a {
    color: @lugato-rot;
}

a:hover {
    color: @lugato-grau;
}

.clear { clear: both; }

/* Header + Navigation */
.header {
	background:@lugato-rot;
	margin-bottom: 60px;

}
.header .navbar-brand {
	height:97px;
	margin-left:-25px;
}
.header .navbar {
	margin-bottom: 0;
}
.header .navbar-nav {
	padding-top:45px;
}
.header .navbar-nav > li > a {
	color:#fff;
}
.header .navbar-nav > li > a:hover,
.header .navbar-nav > li > a:active,
.header .navbar-nav > li > a:focus {
	background:transparent;
	opacity: .9;
}

.navbar-toggle { margin-right: 0; }
.navbar-toggle .icon-bar { background: #fff; }
.navbar-toggle .icon-bar+.icon-bar { margin-top: 5px; }

@media (max-width: 991px) {
	.navbar-header { float: none !important; }
	.navbar-toggle { display: block !important; }
}

@media (min-width: 992px) {
	.navbar-toggle { display: none !important; }
}

@media (min-width: 768px) and (max-width: 1199px) {
	.navbar-nav>li>a {
		padding-left: 0;
	    	padding-right: 0;
    		font-size: 16px;
	}
	.navbar-nav>li+li>a {
		padding-left: 18px;
	}
}


/* Content */
#content {
	padding-bottom:60px;
}
#navigation + #content {
	margin-top:50px;
}

/* Misc */
.amazon-rating-5 .vc_cta3-content-header h4:after {
	content:"";
	font-family: 'FontAwesome';
	display:block;
	color:#ffce00;
	margin-top:10px;
}
blockquote .small,
blockquote footer,
blockquote small {
	color:@lugato-hellgrau;
}

.list-usps ul {
	list-style: none;
	padding-left: 28px;
}
.list-usps.list-usps-right ul {
	padding-right: 28px;
	padding-left:0;
	font-size: 21px;
}
.list-usps.list-usps-right ul li:after,
.list-usps ul li:before {
	content:"";
	font-family: 'FontAwesome';
	color:@lugato-rot;
	display:inline-block;
	margin-right:10px;
	margin-left:-28px;
}
.list-usps.list-usps-right ul li:after {
	margin-right:-28px;
	margin-left:10px;
}
.list-usps.list-usps-right ul li:before {
	display: none;
}

.howto-step {
	padding-left:40px;
	color:@lugato-hellgrau;
}
.howto-step strong {
	display:inline-block;
	background:@lugato-rot;
   	border-radius: 100%;
    color: #fff;
    font-weight: normal;
    height: 30px;
    padding: 3px;
    text-align: center;
    width: 30px;
    margin-left:-40px;
    margin-right: 5px
}

/* Sidebar */
#navbar-left .nav-tabs {
	border-bottom: none;
	margin-top:20px;
}
#navbar-left .nav-tabs > li > a {
	border-radius: 0;
	border:none;
}
#navbar-left .nav-tabs > li + li > a {
	border-top:1px solid #ddd;
}
#navbar-left a {
	text-transform: uppercase;
	color:@lugato-grau;
	font-weight: 400;
}
#navbar-left .nav-tabs > li.active a,
#navbar-left .nav-tabs > li.current-menu-item a {
	color:@lugato-rot;
}
#navbar-left.affix {
	width:263px;
	top:18px;	
}

/*Buttons*/

a.btn-email {
	background-color: #e2001a;
	border-radius: 6px;
	color: #fff;
	font-size: 16px;
	padding: 21px 25px 15px 60px;
	margin: 2px;
	position: relative;
	white-space: normal;
	text-align: left;
}

a.btn-email:before {
    content: "\f003";
    font-family: FontAwesome;
    font-size: 26px;
    left: 15px;
    line-height: 32px;
    position: absolute;
    top: 11px;
}

/* Modals */
.btn-modal {
	border: none;
}
.btn-modal-lg {
	border-radius: 0;
}

button.btn-modal {
    background: #e2001a;
    border-color: transparent;
    color: #fff;
}

button.btn-modal:hover,
button.btn-modal:focus,
button.btn-modal:active,
a.btn-email:hover,
a.btn-email:focus, 
a.btn-email:active {
	background-color: @lugato-rot !important;
	color: #fff;
}

/* Social Media Modals */
.modal-social-media button {
	min-height: 38px;
	padding-left: 60px;
	position: relative;
    padding-bottom: 15px;
    padding-top: 20px;
    &:before {
		font-family: FontAwesome;
		font-size: 32px;
		left: 15px;
		line-height: 32px;
	    position: absolute;
	    top: 15px;
    }
}
.modal-instagram button:before {
	content: "\f16d";
}
.modal-facebook button:before {
	content: "\f082";
}

/* Footer */
.footer {
    background-color: @lugato-rot;
    bottom: 0;
    min-height: 95px;
    position: relative;
    width: 100%;
    color:#fff;
    margin-top:30px;
}
.footer .container {
	padding:68px 30px;
}
.footer a {
	color:#fff;
}
.footer .widget-title {
	text-transform: uppercase;
	margin-bottom:40px;
	font-weight: 400;
}
.footer .textwidget {
	text-transform: uppercase;
	line-height: 1.6;
}
.footer .textwidget .glyphicon {
	margin-right:10px;
}
.footer ul {
	font-size:16px;
}
.footer ul.location-marker li:nth-child(1n+2) {
	padding-left:31px;
}
.footer ul.list-inline {
	margin-top:30px;
}

/* Menu: Footer */
#menu-footermenue li a {
	color:#fff;
	font-size: 16px;
	border-radius: 0;
}
#menu-footermenue li a:hover {
	background:transparent;
	opacity: .85;
}


/* Responsive Design */
@media (max-width: 468px) {
	
}
@media (max-width: 768px) {
	#navbar-left.affix {
		position:static;
	}
}
@media (min-width: 992px) {
	
}
@media (min-width: 1200px) {
	
}