/* Visual Composer */
.vc_btn3.vc_btn3-color-danger,
.vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat {
	background-color: @lugato-rot !important;
}
.vc_btn3.vc_btn3-color-danger:hover,
.vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat:hover {
	background-color: fade(@lugato-rot, 85%) !important;
}
.vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg {
	font-size: 18px !important;
}
.vc_cta3-content-header {
	color:@lugato-grau !important;
}
.vc_cta3-content p {
	color:@lugato-hellgrau !important;	
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-title > a {
	color:@lugato-rot !important;
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-title > a {
	color:@lugato-grau !important;
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat:not(.vc_tta-o-no-fill) .vc_tta-panel-body,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat:not(.vc_tta-o-no-fill) .vc_tta-panel-body p {
	color:@lugato-hellgrau !important;	
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat:not(.vc_tta-o-no-fill) .vc_tta-panel-body h3,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat:not(.vc_tta-o-no-fill) .vc_tta-panel-body h4 {
	color:@lugato-grau !important;
	font-size: 26px;
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat:not(.vc_tta-o-no-fill) .vc_tta-panel-body h4 {
	font-size:19px;
	margin-top:19px;
}
.shop-hornbach > a,
.shop-norax > a,
.shop-hagebau > a,
.shop-baumarkt > a {
	border:1px solid #E5E3E1 !important;
	line-height: 0 !important;
}
.shop-hornbach > a:hover,
.shop-norax > a:hover,
.shop-hagebau > a:hover,
.shop-baumarkt > a:hover {
	background-color:#E5E3E1 !important;
}
.shop-hornbach > a:before,
.shop-norax > a:before,
.shop-hagebau > a:before,
.shop-baumarkt > a:before {
	content:"";
	display:inline-block;
	background:url(../img/shop_logo_hornbach.gif) no-repeat center / contain;
	height:40px;
	width:100%;
}
.shop-norax > a:before {
	background-image:url(../img/shop_logo_norax.png);
}
.shop-hagebau > a:before {
	background-image:url(../img/shop_logo_hagebauspn.png);
}
.shop-baumarkt > a:before {
	background-image:url(../img/shop_logo_baumarkt-onlinehandel.png);
}

/* Yoast Breadcrumbs */
#breadcrumbs {
	font-size: 12px;
	margin-top:36px;
	color:#313131;
	font-weight: 400;
}

/* Quform */
.iphorm {
	margin-top:50px;
}
.iphorm h3.iphorm-title {
	font-weight:400;
	text-transform: uppercase;
	color: @lugato-blau;
	margin-bottom:30px;
}
.iphorm label {
	font-weight: 400;
}
.iphorm-input-checkbox-ul .iphorm-input-checkbox-li label,
.iphorm-input-radio-ul .iphorm-input-radio-li label {
	font-weight: 300;
}
.iphorm-required {
	color:@lugato-rot;
}
.iphorm-input-radio-ul .iphorm-input-radio-li {
	padding-left:25px;
}
.iphorm-input-radio-ul .iphorm-input-radio-li div.radio {
	margin-left:-25px;
}
.iphorm-responsive .iphorm-elements .iphorm-element-wrap-text input,
.iphorm-responsive .iphorm-elements .iphorm-element-wrap-captcha input,
.iphorm-responsive .iphorm-elements .iphorm-element-wrap-password input,
.iphorm-responsive .iphorm-elements .iphorm-element-wrap select,
.iphorm-responsive .iphorm-elements .iphorm-element-wrap textarea {
	width:100%;
}
@media (min-width: 768px) {
	.iphorm-group-row-2cols .iphorm-element-wrap {
		padding-right:10px;
	}
	.iphorm-group-row-2cols .iphorm-element-wrap.last-child {
		padding-right:0px;
		padding-left:10px;
	}
}
.iphorm-submit-wrap {
	padding-top:10px;
	text-align: right;
}
.iphorm-submit-input-wrap {
	float:right;
}
.iphorm-edit-form-wrap {
	display:none;
}
.iphorm-submit-wrap button,
.iphorm-submit-wrap button span,
.iphorm-submit-wrap button em {
	background:@lugato-rot;
	color:#fff;
	border:none;
}
.iphorm-submit-wrap button:hover,
.iphorm-submit-wrap button:hover span,
.iphorm-submit-wrap button:hover em {
	background:fade(@lugato-rot, 85%) !important;
}
.iphorm-submit-wrap button span,
.iphorm-submit-wrap button em {
	line-height: 34px;
}
.iphorm-uniform-theme-default .iphorm div.selector.fixedWidth,
.iphorm-uniform-theme-default .iphorm div.selector.fixedWidth span,
.iphorm-uniform-theme-aristo .iphorm div.selector.fixedWidth,
.iphorm-uniform-theme-aristo .iphorm div.selector.fixedWidth span,
.iphorm-uniform-theme-agent .iphorm div.selector.fixedWidth,
.iphorm-uniform-theme-agent .iphorm div.selector.fixedWidth span {
	width:100%;
}